node_modules
.sass-cache
dist
dev/assets/js
dev/assets/css
wordpress/theme/figit-theme/assets/css/style.min.css

wordpress/theme/figit-theme/assets/css/style.min.css

wordpress/theme/figit-theme/assets/js/build.min.js
